proyectos/05-acelerador-desarrollo-web/n8n-workflows/zHV5dYAqduSEfSiR.json
{"updatedAt":"2026-04-06T04:39:13.669Z","createdAt":"2026-04-06T04:02:25.838Z","id":"zHV5dYAqduSEfSiR","name":"Chat Webhook - IA con memoria","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"responseNode","options":{}},"id":"webhook-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[208,368],"webhookId":"67709c74-5795-4343-9912-a5ef3f7e71e6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond-1","leftValue":"={{ $json.body.turn_count }}","rightValue":5,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"if-1","name":"Comprimir historial?","type":"n8n-nodes-base.if","typeVersion":2,"position":[432,368]},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"={{ $json.body.system_prompt + ($json.body.previous_summary ?  '\\n\\nResumen de conversación previa:\\n' + $json.body.previous_summary : '') +  '\\n\\nIMPORTANTE: Si el usuario menciona su nombre, el nombre de amigos, colores favoritos, mascotas u otras preferencias personales, incluye al FINAL de tu respuesta (separado por ---FACTS---) un JSON con los hechos detectados en este formato:\\n[{\\\"key\\\":\\\"Nombre\\\",\\\"value\\\":\\\"Carlos\\\",\\\"category\\\":\\\"personal\\\"}]\\nSi no hay hechos nuevos, no incluyas la sección ---FACTS---.' }}"}},"id":"agent-normal","name":"IA Normal","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[656,576]},{"parameters":{"sessionKey":"={{ $json.body.session_id }}","contextWindowLength":10},"id":"memory-normal","name":"Memoria Normal","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.1,"position":[816,816]},{"parameters":{"jsCode":"const raw = $input.first().json.output || '';\nconst parts = raw.split('---FACTS---');\nconst response = parts[0].trim();\nlet detectedFacts = [];\nif (parts[1]) {\n  try {\n    detectedFacts = JSON.parse(parts[1].trim());\n  } catch(e) {}\n}\nreturn [{ json: { response, detected_facts: detectedFacts, new_summary: null, memory_reset: false } }];"},"id":"code-normal","name":"Formatear Respuesta","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,576]},{"parameters":{"promptType":"define","text":"={{ $json.body.message }}","options":{"systemMessage":"={{ $json.body.system_prompt + ($json.body.previous_summary ?  '\\n\\nResumen de conversación previa:\\n' + $json.body.previous_summary : '') +  '\\n\\nIMPORTANTE: Al finalizar tu respuesta, incluye:\\n1. Si detectas hechos personales (nombres, preferencias, etc.), agrégalos separados por ---FACTS--- como JSON: [{\\\"key\\\":\\\"...\\\",\\\"value\\\":\\\"...\\\",\\\"category\\\":\\\"...\\\"}]\\n2. Al FINAL DE TODO, separado por ---SUMMARY---, escribe un resumen de 2-3 oraciones de los puntos clave de toda la conversación (incluyendo este mensaje) para uso interno.' }}"}},"id":"agent-summary","name":"IA con Resumen","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[656,64]},{"parameters":{"sessionKey":"={{ $json.body.session_id }}","contextWindowLength":10},"id":"memory-summary","name":"Memoria Resumen","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.1,"position":[800,288]},{"parameters":{"jsCode":"const raw = $input.first().json.output || '';\nconst summaryParts = raw.split('---SUMMARY---');\nconst withoutSummary = summaryParts[0].trim();\nconst newSummary = summaryParts[1] ? summaryParts[1].trim() : null;\n\nconst factParts = withoutSummary.split('---FACTS---');\nconst response = factParts[0].trim();\nlet detectedFacts = [];\nif (factParts[1]) {\n  try { detectedFacts = JSON.parse(factParts[1].trim()); } catch(e) {}\n}\n\nreturn [{ json: { response, new_summary: newSummary, detected_facts: detectedFacts, memory_reset: !!newSummary } }];"},"id":"code-summary","name":"Extraer Resumen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,176]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"respond-1","name":"Responder","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1232,368]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"openai-normal","name":"OpenAI Normal","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[672,800],"credentials":{"openAiApi":{"id":"LlrRCmmyNEVluqzc","name":"OpenAI account"}}},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"openai-summary","name":"OpenAI Resumen","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[640,288],"credentials":{"openAiApi":{"id":"LlrRCmmyNEVluqzc","name":"OpenAI account"}}}],"connections":{"Webhook":{"main":[[{"node":"Comprimir historial?","type":"main","index":0}]]},"Comprimir historial?":{"main":[[{"node":"IA con Resumen","type":"main","index":0}],[{"node":"IA Normal","type":"main","index":0}]]},"IA con Resumen":{"main":[[{"node":"Extraer Resumen","type":"main","index":0}]]},"IA Normal":{"main":[[{"node":"Formatear Respuesta","type":"main","index":0}]]},"Extraer Resumen":{"main":[[{"node":"Responder","type":"main","index":0}]]},"Formatear Respuesta":{"main":[[{"node":"Responder","type":"main","index":0}]]},"Memoria Normal":{"ai_memory":[[{"node":"IA Normal","type":"ai_memory","index":0}]]},"Memoria Resumen":{"ai_memory":[[{"node":"IA con Resumen","type":"ai_memory","index":0}]]},"OpenAI Normal":{"ai_languageModel":[[{"node":"IA Normal","type":"ai_languageModel","index":0}]]},"OpenAI Resumen":{"ai_languageModel":[[{"node":"IA con Resumen","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate","timeSavedMode":"fixed"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"localhost:8001","user-agent":"python-requests/2.33.1","accept-encoding":"gzip, deflate","accept":"*/*","connection":"keep-alive","content-length":"139","content-type":"application/json"},"params":{},"query":{},"body":{"message":"hola","session_id":"1","system_prompt":"Eres un asistente amigable y educativo.","turn_count":2,"previous_summary":""},"webhookUrl":"https://localhost/webhook/chat","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"ae97a037-1c61-4b51-a9f6-880a487f4cc9","activeVersionId":"ae97a037-1c61-4b51-a9f6-880a487f4cc9","versionCounter":35,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-06T04:02:25.838Z","createdAt":"2026-04-06T04:02:25.838Z","role":"workflow:owner","workflowId":"zHV5dYAqduSEfSiR","projectId":"fyzQ14vUGQzHV94I","project":{"updatedAt":"2026-04-06T02:50:05.805Z","createdAt":"2026-04-06T02:31:34.765Z","id":"fyzQ14vUGQzHV94I","name":"Jaime Martinez <magoreal4@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5f1f86fa-436b-46cd-ab04-efb0799dfe69"}}],"versionMetadata":{"name":null,"description":null}}