proyectos/06-portal-documental-obras/n8n-workflows/nc-tekon.json
{
  "name": "NC_Tekon",
  "nodes": [
    {
      "parameters": {
        "path": "nc-tekon",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        -48
      ],
      "webhookId": "nc-tekon-aj"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "list",
        "path": "={{ $json.query.path || '/20 AJ' }}"
      },
      "id": "nextcloud-1",
      "name": "AJ",
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        256,
        -48
      ],
      "credentials": {
        "nextCloudApi": {
          "id": "870CMLd5AjKt5pL9",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.all().map(i => i.json) }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        576,
        -48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AJ": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b3b51419-4194-43d0-a62d-8e569a658828",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d9c5adb5b47dc1dff2717f3c50997b1de6d705b83f6fc3647d372ee5b662ea9d"
  },
  "id": "ppAFHXoRzH1XFJ4J",
  "tags": []
}